<!DOCTYPE html>
<html>
<head>
    <title>Student Exam Performance Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Exam Performance Prediction Using Reggression Models</h1>
        </div>
        <div class="description">
            <h2>Indepent Variables :</h2>
                <p> ‣ Gender : Refers to the social and cultural roles, behaviors, attributes, and expectations associated with being male or female.</p>
                <p> ‣ Race_ethnicity : Is often self-reported by individuals, allowing them to identify with the group they feel most accurately represents their background.</p>
                <p> ‣ parental_level_of_education : Parental education can influence a student's educational expectations and choices, such as the likelihood of pursuing higher education.</p>
                <p> ‣ Lunch : A balanced and nutritious lunch can provide students with the energy and nutrients needed for optimal brain function.</p>
                <p> ‣ Test_preparation_course : Designed to help students prepare for specific exams by providing targeted instruction, practice materials, and strategies for success.</p>
                <p> ‣ Reading_score : Students with strong comprehension skills can understand and interpret the questions on exams more effectively, leading to accurate and insightful responses.</p>
                <p> ‣ Writing_score : student's ability to convey thoughts, ideas, and information in a coherent and organized manner.</p>
            <h3>Target Variables :</h3>
                <p> ‣ Performance_score : Overall performance of the students.</p>
            
        </div>
        <!-- Menu -->
        <div class="menu">
            <button class="menu-button" onclick="location.href='/singleparameter2';">Single Prediction</button>
            <button class="menu-button" onclick="location.href='/multipleprediction';">Multiple Prediction</button>
        </div>
    </div>
</body>
</html>